body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12376 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:40px;
  width:350px;
  height:641px;
  display:flex;
}
#u12376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12378 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:40px;
  width:20px;
  height:20px;
  display:flex;
}
#u12378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u12379 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:43px;
  width:21px;
  height:12px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u12379 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12379_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u12380 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:41px;
  width:19px;
  height:17px;
  display:flex;
}
#u12380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u12381 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:41px;
  width:20px;
  height:17px;
  display:flex;
}
#u12381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u12382 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:75px;
  width:32px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u12382 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12382_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12383 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:75px;
  width:15px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u12383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u12384 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:42px;
  width:26px;
  height:11px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u12384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12384_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12385 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:264px;
  width:350px;
  height:392px;
}
#u12385_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:392px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12385_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:105px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0.368627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:105px;
  display:flex;
}
#u12386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12388_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12388 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12389_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12389 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12390_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12390 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12391_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12391 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12392_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12392 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12393_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12393 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12394_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12394 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12395_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12395 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12396_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12396 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12397_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12397 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12398_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12398 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12399_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12399 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12400_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12400 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12401_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12401 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12402_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12402 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12403_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12403 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12404_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12404 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12405_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12405 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12406_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12406 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12407_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12407 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12408_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12408 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12409_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12409 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12410_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12410 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12411_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12411 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12412_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12412 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12413_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12413 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12414_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12414 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12415_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12415 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12416_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12416 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12417_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12417 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12418_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:52px;
}
#u12418 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:19px;
  width:2px;
  height:49px;
  display:flex;
}
#u12418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12419_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:54px;
}
#u12419 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:19px;
  width:4px;
  height:49px;
  display:flex;
}
#u12419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.713725490196078);
}
#u12420 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:71px;
  width:184px;
  height:15px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.713725490196078);
}
#u12420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:554px;
}
#u12423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:554px;
  display:flex;
}
#u12423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12424 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:41px;
  width:94px;
  height:52px;
  display:flex;
}
#u12424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12425 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:507px;
  width:67px;
  height:37px;
  display:flex;
}
#u12425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u12426 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:243px;
  width:24px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u12426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12427 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:636px;
  width:282px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u12427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12428 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:109px;
  width:112px;
  height:22px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u12429 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:109px;
  width:109px;
  height:22px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u12429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12430 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:131px;
  width:112px;
  height:22px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12431 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:153px;
  width:140px;
  height:22px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12432 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:175px;
  width:42px;
  height:22px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12432_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12433 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:175px;
  width:252px;
  height:22px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:7px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12434 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:197px;
  width:349px;
  height:7px;
  display:flex;
}
#u12434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12435 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:214px;
  width:28px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u12435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.713725490196078);
}
#u12436 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:237px;
  width:184px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.713725490196078);
}
#u12436 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
