body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-15px;
  width:1034px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7148 {
  position:absolute;
  left:43px;
  top:40px;
}
#u7148_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7148_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u7149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u7149 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  line-height:28px;
}
#u7151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  line-height:28px;
}
#u7151 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u7153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u7153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u7154 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:59px;
  width:15px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u7156 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:820px;
  width:29px;
  height:80px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u7156 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7157 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:433px;
  height:62px;
  display:flex;
}
#u7157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7158 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:76px;
  width:30px;
  height:803px;
  display:flex;
}
#u7158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u7159 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:820px;
  width:373px;
  height:59px;
  display:flex;
}
#u7159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7160 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:76px;
  width:30px;
  height:803px;
  display:flex;
}
#u7160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7161 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:124px;
  width:393px;
  height:745px;
}
#u7161_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:745px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7161_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:738px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:738px;
  display:flex;
}
#u7162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
  display:flex;
}
#u7163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7164 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:147px;
  width:40px;
  height:40px;
  display:flex;
}
#u7164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:57px;
}
#u7165 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:159px;
  width:192px;
  height:57px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u7165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7166 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:226px;
  width:40px;
  height:40px;
  display:flex;
}
#u7166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:181px;
}
#u7167 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:226px;
  width:151px;
  height:181px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u7167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:180px;
}
#u7168 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:227px;
  width:144px;
  height:180px;
  display:flex;
}
#u7168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7169 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:454px;
  width:40px;
  height:40px;
  display:flex;
}
#u7169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u7170 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:460px;
  width:80px;
  height:40px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u7170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7171 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:426px;
  width:58px;
  height:27px;
  display:flex;
}
#u7171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7172 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:118px;
  width:77px;
  height:27px;
  display:flex;
}
#u7172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7173 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:13px;
  width:77px;
  height:27px;
  display:flex;
}
#u7173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7174 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:53px;
  width:40px;
  height:40px;
  display:flex;
}
#u7174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u7175 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:59px;
  width:202px;
  height:40px;
  display:flex;
  color:rgba(127, 127, 127, 0.67843137254902);
  text-align:left;
}
#u7175 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:71px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7176 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:516px;
  width:349px;
  height:71px;
  display:flex;
}
#u7176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u7177 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:673px;
  width:267px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u7177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7178 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:676px;
  width:24px;
  height:24px;
  display:flex;
}
#u7178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.984313725490196);
  border:none;
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7179 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:674px;
  width:30px;
  height:28px;
  display:flex;
  font-size:18px;
}
#u7179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7180 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:641px;
  width:66px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7181 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:94px;
  width:48px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7181 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7181_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u7182 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:96px;
  width:15px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7183_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:1030px;
}
#u7183 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:14px;
  width:3px;
  height:1026px;
  display:flex;
  -webkit-transform:rotate(-0.239315111476112deg);
  -moz-transform:rotate(-0.239315111476112deg);
  -ms-transform:rotate(-0.239315111476112deg);
  transform:rotate(-0.239315111476112deg);
}
#u7183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7184 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:25px;
  width:478px;
  height:72px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7185 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:106px;
  width:478px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7186 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:143px;
  width:527px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7187 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:181px;
  width:478px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7188 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:212px;
  width:478px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u7188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:207px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7191 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:648px;
  width:373px;
  height:207px;
  display:flex;
}
#u7191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u7192 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:689px;
  width:267px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
}
#u7192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.984313725490196);
  border:none;
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7193 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:689px;
  width:30px;
  height:28px;
  display:flex;
  font-size:18px;
}
#u7193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7194 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:692px;
  width:24px;
  height:24px;
  display:flex;
}
#u7194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u7195 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:723px;
  width:351px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.00142080546801929deg);
  -moz-transform:rotate(-0.00142080546801929deg);
  -ms-transform:rotate(-0.00142080546801929deg);
  transform:rotate(-0.00142080546801929deg);
}
#u7195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u7196 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:731px;
  width:49px;
  height:51px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
}
#u7196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7198 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:734px;
  width:24px;
  height:24px;
  display:flex;
}
#u7198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#7F7F7F;
}
#u7199 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:763px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#7F7F7F;
}
#u7199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u7200 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:731px;
  width:49px;
  height:51px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
}
#u7200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#7F7F7F;
}
#u7201 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:762px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#7F7F7F;
}
#u7201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7201_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7202 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:738px;
  width:22px;
  height:20px;
  display:flex;
}
#u7202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u7203 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:731px;
  width:49px;
  height:51px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
}
#u7203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#7F7F7F;
}
#u7204 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:763px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#7F7F7F;
}
#u7204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u7205 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:733px;
  width:28px;
  height:28px;
  display:flex;
}
#u7205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u7206 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:731px;
  width:49px;
  height:51px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
}
#u7206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#7F7F7F;
}
#u7207 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:763px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#7F7F7F;
}
#u7207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u7208 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:733px;
  width:28px;
  height:28px;
  display:flex;
}
#u7208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7209 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:656px;
  width:66px;
  height:28px;
  display:flex;
}
#u7209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
